<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"lang=en><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"lang=en><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"lang=en><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
  <!--<![endif]-->
  <meta charset="utf-8" />
  <title>Vianney AKA</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="Karim Ezzat" name="author" />
  <meta
    content="Aka Kouadio Bonnaventure Vianney"
    name="description"
  />
  <meta
    content="Vianney Aka, responsive, cv, resume, business, html5, css3, css3 animation"
    name="keywords"
  />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900"
    rel="stylesheet"
  />
  {% load static %}
  <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" />
  <link
    href="{% static 'css/iconmonstr-iconic-font.min.css'%}"
    rel="stylesheet"
  />
  <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet" />
  <link href="{% static 'css/animated-headline.css.css'%}" rel="stylesheet" />
  <link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet" />
  <link href="{% static 'css/style.css'%}" rel="stylesheet" />
  <link href="{% static 'css/responsive.css'%}" rel="stylesheet" />

  {% comment %} Content{% endcomment %}
  <div class=preloader-area>
    <div class=loader></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<nav class="d-none d-lg-block float-right navbar" id=navbar>
    <ul class=nav-menu>
        <li class=nav-item><a href="#body" class="nav-link active"><span class=transition>Home</span></a>
        <li class=nav-item><a href="#about" class=nav-link><span class=transition>About</span></a>
        <li class=nav-item><a href="#resume" class=nav-link><span class=transition>Resume</span></a>
        <li><a href="#works" class=nav-link><span class=transition>Works</span></a>
        <li class=nav-item><a href="#blog" class=nav-link><span class=transition>Blog</span></a>
        <li class=nav-item><a href="#contact" class=nav-link><span class=transition>Contact</span></a>
    </ul>
</nav>
<div class=template-wrapper>
    <header class=header-area>
        <div class="container-fluid h-100">
            <div class="d-flex align-items-center h-100 justify-content-between">
                <div><a href="" class=logo><span>L A</span> <span>N A</span></a>
                    <div class="d-none openNav"><span></span> <span></span> <span></span></div>
                    <nav class="mobile-nav navbar-animate">
                        <ul class="text-center mobile-menu">
                            <li><a href="#body" class="d-flex justify-content-center"><i class="im im-home"></i> <span
                                        class=transition>Accueil</span></a>
                            <li><a href="#about" class="d-flex justify-content-center"><i class="im im-info"></i>
                                    <span class=transition>A propos de moi</span></a>
                            <li><a href="#resume" class="d-flex justify-content-center"><i class="im im-file"></i>
                                    <span class=transition>Expérience</span></a>
                            <li><a href="#works" class="d-flex justify-content-center"><i
                                        class="im im-photo-camera"></i> <span class=transition>Projets</span></a>
                            <li><a href="#blog" class="d-flex justify-content-center"><i class="im im-blogger"></i>
                                    <span class=transition>Blog</span></a>
                            <li><a href="#contact" class="d-flex justify-content-center"><i class="im im-support"></i>
                                    <span class=transition>Contact</span></a>
                        </ul>
                    </nav>
                </div>
                <div class=cv-link><a href="cv.html" class="d-flex justify-content-center align-items-center"
                        download><span>Télécharger le CV ـــــــــــــ </span><i class="im im-import ml-2"></i></a></div>
            </div>
        </div>
    </header>
    <section class="d-flex align-items-center hero-area" id="home">
        <div class=container>
            <div class="row align-items-center justify-content-between js-fullheight">
                <div class="text-center col-lg-12 hero-content">
                    <div data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                        <div class=avatar><img alt=Lana src="{% static 'img/hero-area/avatar.jpg' %}">
                            <ul class=social-links>
                                <li><a href="#" class="fa fa-facebook"></a>
                                <li><a href="#" class="fa fa-twitter"></a>
                                <li><a href="#" class="fa fa-linkedin"></a>
                                <li><a href="#" class="fa fa-pinterest"></a>
                                <li><a href="#" class="fa fa-github"></a>
                            </ul>
                        </div>
                    </div>
                    <h1 class=text-white>Hello, Je suis !</h1>
                    <div class="text-white cd-headline loading-bar profession"><span>Senior Creative</span> <span
                            class=cd-words-wrapper><b class=is-visible>Designer</b> <b>Developer</b>
                            <b>Potographer</b></span></div>
                </div>
            </div>
        </div>
        <div class=mouse><a href="#about" class=mouse-icon>
                <div class=mouse-wheel><span class="im im-arrow-down"></span></div>
            </a></div>
    </section>
    <div class=about-area id=about>
        <div class=container>
            <div class="justify-content-center align-items-center row">
                <div class=col-lg-5>
                    <div class=about-pic>
                        <div class="about-img"><img alt=Lana src="{% static 'img/about-area/about-pic.jpg' %}" class="img-fluid"></div>
                        <div class="transition img-caption"
                            data-scroll-reveal="enter right move 30px over 0.6s after 0.4s"><span>10</span>
                            <p>Years of experience
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class=about-details><span class=subheading>About Me</span>
                        <h2 class=mb-3>A UI/UX Designer &<br>Developer Based in Mansoura</h2>
                        <div class=info-list>
                            <ul>
                                <li><strong>Name:</strong><span>Lana Doe</span>
                                <li><strong>Residence:</strong><span>Mansoura</span>
                                <li><strong>Freelance:</strong><span>Available</span>
                                <li><strong>Address:</strong><span>Mansoura, Egypt</span>
                                <li><strong>Site:</strong><span>Lana_doe1999.org</span>
                            </ul>
                        </div>
                        <p class=mt-3>Hello! I’m Lana Doe. Web developer from Egypt, Mansoura. I have rich
                            experience in web site design and building, also I am good at wordpress.</p><a
                            href="#resume" class="transition btn mt-5" data-text=Resume><span>R</span> <span>e</span>
                            <span>s</span> <span>u</span> <span>m</span> <span>e</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-padding services-area" id=services>
        <div class=container>
            <div class="pl-4 services-title"><span class="text-white text-sm text-uppercase">My Services</span>
                <h2 class=text-white>I can make this awesome things,</h2>
            </div>
            <div class=row>
                <div class="col-md-6 col-lg-4 mb-lg-0 mb-6"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class=service-item>
                        <div class=content>
                            <h4 class="text-white mb-2">Development</h4>
                            <p class=text-white>Lorem ipsum dolor sit amet, consectetr adipisicing elit, sed do
                                eiusmod tempor incididunt.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-lg-0 mb-6"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class=service-item>
                        <div class=content>
                            <h4 class="text-white mb-2">Site Optimization</h4>
                            <p class=text-white>Lorem ipsum dolor sit amet, consectetr adipisicing elit, sed do
                                eiusmod tempor incididunt.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-sm-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class=service-item>
                        <div class=content>
                            <h4 class="text-white mb-2">Responsive</h4>
                            <p class=text-white>Lorem ipsum dolor sit amet, consectetr adipisicing elit, sed do
                                eiusmod tempor incididunt.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding skills-area" id=skills>
        <div class=section-title>
            <h3>My Skills</h3><span></span>
        </div>
        <div class=container>
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 mb-lg-0 mb-4 col-lg-6">
                    <div class=skill-title>
                        <h2 class=mb-3>I Got The Skills,</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quasi mollitia rem
                            quisquam atque pariatur, a ut, amet illum quibusdam facere vitae delectus reiciendis
                            fugit tempora esse sint deserunt dolorum.
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="d-flex justify-content-between skills-chart"
                        data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <div class=skill-item>
                            <h4>HTML5</h4>
                            <div class=bar>
                                <div class=item-progress style="height:80%"><span class=progress-value>80%</span>
                                </div>
                            </div>
                        </div>
                        <div class=skill-item>
                            <h4>CSS3</h4>
                            <div class=bar>
                                <div class=item-progress style="height:65%"><span class=progress-value>65%</span>
                                </div>
                            </div>
                        </div>
                        <div class=skill-item>
                            <h4>JQuery</h4>
                            <div class=bar>
                                <div class=item-progress style="height:70%"><span class=progress-value>70%</span>
                                </div>
                            </div>
                        </div>
                        <div class=skill-item>
                            <h4>Php</h4>
                            <div class=bar>
                                <div class=item-progress style="height:55%"><span class=progress-value>55%</span>
                                </div>
                            </div>
                        </div>
                        <div class=skill-item>
                            <h4>Mysql</h4>
                            <div class=bar>
                                <div class=item-progress style="height:40%"><span class=progress-value>40%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding prices-area" id="prices">
        <div class=section-title>
            <h3>Prices</h3><span></span>
        </div>
        <div class=container>
            <div class=row>
                <div class="col-md-6 col-lg-4 mb-lg-0 mb-4">
                    <div class=price-item>
                        <div class="text-white pricingTable-header">
                            <h4 class=text-white>Standard</h4>
                            <div class="text-white price-value"><i class="im im-coin"></i> <span>10</span></div>
                            <p class=mt-4>Per Month
                        </div>
                        <div class=pricing-content>
                            <ul>
                                <li><b>50 GB</b> Disk Space
                                <li><b>50</b> Email Accounts
                                <li><b>50 GB</b> Monthly Bandwidth
                                <li><b>10</b> subdomains
                                <li><b>50</b> Domains
                            </ul>
                        </div>
                        <div class="text-center price-btn py-5"><a href="#" class=btn
                                data-text="Sign Up"><span>S</span> <span>i</span> <span>g</span> <span>n</span>
                                <span></span> <span>U</span> <span>p</span></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-lg-0 mb-4">
                    <div class=price-item>
                        <div class=best>best<br>offer</div>
                        <div class="text-white pricingTable-header">
                            <h4 class=text-white>Business</h4>
                            <div class="text-white price-value"><i class="im im-coin"></i> <span>30</span></div>
                            <p class=mt-4>Per Month
                        </div>
                        <div class=pricing-content>
                            <ul>
                                <li><b>70 GB</b> Disk Space
                                <li><b>70</b> Email Accounts
                                <li><b>70 GB</b> Monthly Bandwidth
                                <li><b>70</b> subdomains
                                <li><b>70</b> Domains
                            </ul>
                        </div>
                        <div class="text-center price-btn py-5"><a href="#" class=btn
                                data-text="Sign Up"><span>S</span> <span>i</span> <span>g</span> <span>n</span>
                                <span></span> <span>U</span> <span>p</span></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class=price-item>
                        <div class="text-white pricingTable-header">
                            <h4 class=text-white>Premium</h4>
                            <div class="text-white price-value"><i class="im im-coin"></i> <span>20</span></div>
                            <p class=mt-4>Per Month
                        </div>
                        <div class=pricing-content>
                            <ul>
                                <li><b>60 GB</b> Disk Space
                                <li><b>60</b> Email Accounts
                                <li><b>60 GB</b> Monthly Bandwidth
                                <li><b>60</b> subdomains
                                <li><b>60</b> Domains
                            </ul>
                        </div>
                        <div class="text-center price-btn py-5"><a href="#" class=btn
                                data-text="Sign Up"><span>S</span> <span>i</span> <span>g</span> <span>n</span>
                                <span></span> <span>U</span> <span>p</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding resume-area" id="resume">
        <div class=section-title>
            <h3>Resume</h3><span></span>
        </div>
        <div class=resume>
            <div class=container>
                <div class=row>
                    <div class="col-md-6 mb-5 mb-md-0">
                        <div class=resume-title>
                            <div class="icon text-color"><i class="im im-briefcase"></i></div>
                            <h4>Experience</h4>
                        </div>
                        <div class="resume-items experience">
                            <div class="resume-item active">
                                <div class=date>2013 - Present</div>
                                <h5>Art Director</h5>
                                <div class=company><i class="fa fa-fw fa-map-marker"></i> Facebook Co.</div>
                                <div class=single-post-text>
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua
                                </div>
                            </div>
                            <div class=resume-item>
                                <div class=date>2011 - 2012</div>
                                <h5>Front-End Developer</h5>
                                <div class=company><i class="fa fa-fw fa-map-marker"></i> Twitter Co.</div>
                                <div class=single-post-text>
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua
                                </div>
                            </div>
                            <div class=resume-item>
                                <div class=date>2009 - 2010</div>
                                <h5>Senior Developer</h5>
                                <div class=company><i class="fa fa-fw fa-map-marker"></i> ABC Co.</div>
                                <div class=single-post-text>
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 border-line-v">
                        <div class=resume-title>
                            <div class="icon text-color"><i class="im im-graduation-hat"></i></div>
                            <h4>Education</h4>
                        </div>
                        <div class="resume-items education">
                            <div class=resume-item>
                                <div class=date>2006 - 2008</div>
                                <h5>Art University</h5>
                                <div class=company><i class="fa fa-fw fa-map-marker"></i> Mansoura</div>
                                <div class=single-post-text>
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua
                                </div>
                            </div>
                            <div class=resume-item>
                                <div class=date>2005 - 2006</div>
                                <h5>Programming Course</h5>
                                <div class=company><i class="fa fa-fw fa-map-marker"></i> Nabaroh</div>
                                <div class=single-post-text>
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua
                                </div>
                            </div>
                            <div class=resume-item>
                                <div class=date>2004 - 2005</div>
                                <h5>Web Design Course</h5>
                                <div class=company><i class="fa fa-fw fa-map-marker"></i> Egypt</div>
                                <div class=single-post-text>
                                    <p>Lorem ipsum dolor sit amet, consectcing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=clear></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding works-area" id="works">
        <div class="section-title">
            <h3>Portfolio</h3><span></span>
        </div>
        <div class=container>
            <div class=filters-content>
                <div class="row grid">
                    <div class="col-md-6 col-lg-4 grid-sizer"></div>
                    <div class="col-lg-8 all col-md-12 grid-item mb-5">
                        <div class=single-work>
                            <div class=relative>
                                <div class=thumb><img alt=Lana src="{% static 'img/works/1.jpg' %}" class="img-fluid image"></div><a
                                    href="{% static 'img/works/1.jpg' %}" class="middle prettyPhoto" data-gal=prettyPhoto[gallery1]
                                    title=Wildlife>
                                    <div class="d-flex justify-content-center align-items-center flex-column h-100">
                                        <i class="im im-plus"></i>
                                        <h4 class=mt-4>Wildlife</h4>
                                        <div class=cat>Photography</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 all grid-item mb-5">
                        <div class=single-work>
                            <div class=relative>
                                <div class=thumb><img alt=Lana src="{% static 'img/works/2.jpg' %}" class="img-fluid image"></div><a
                                    href="{% static 'img/works/2.jpg' %}" class="middle prettyPhoto" data-gal=prettyPhoto[gallery1]
                                    title="Snow Creative">
                                    <div class="d-flex justify-content-center align-items-center flex-column h-100">
                                        <i class="im im-plus"></i>
                                        <h4 class=mt-4>Snow Adventure</h4>
                                        <div class=cat>Creative Shot</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-lg-0 all grid-item mb-5">
                        <div class=single-work>
                            <div class=relative>
                                <div class=thumb><img alt=Lana src="img/works/3.jpg" class="img-fluid image"></div><a
                                    href="img/works/3.jpg" class="middle prettyPhoto" data-gal=prettyPhoto[gallery1]
                                    title="Boats Trip">
                                    <div class="d-flex justify-content-center align-items-center flex-column h-100">
                                        <i class="im im-plus"></i>
                                        <h4 class=mt-4>Boats Trip</h4>
                                        <div class=cat>Traveling</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 all col-md-12 grid-item">
                        <div class=single-work>
                            <div class=relative>
                                <div class=thumb><img alt=Lana src="img/works/4.jpg" class="img-fluid image"></div><a
                                    href="img/works/4.jpg" class="middle prettyPhoto" data-gal=prettyPhoto[gallery1]
                                    title="Ui . Ux">
                                    <div class="d-flex justify-content-center align-items-center flex-column h-100">
                                        <i class="im im-plus"></i>
                                        <h4 class=mt-4>Ui . Ux</h4>
                                        <div class=cat>Web Design</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="hire-area">
        <div class=container>
            <div class=row>
                <div class=col-12>
                    <div class="text-center hire-content"
                        data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                        <h2 class="text-white mb-5">Je suis <span>disponible</span> for freelance<span>.</span></h2>
                        <div class=row>
                            <div class="col-lg-4 col-md-4">
                                <div class=contact-box>
                                    <h5><i class="im im-mobile"></i>+22 12345 9012</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class=contact-box>
                                    <h5><i class="im im-newsletter"></i>Lana@gmail.com</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class=contact-box>
                                    <h5><i class="im im-globe"></i>Lana.me</h5>
                                </div>
                            </div>
                        </div><a href="#contact" class="btn mt-5" data-text="Contact Me"><span>C</span> <span>o</span>
                            <span>n</span> <span>t</span> <span>a</span> <span>c</span> <span>t</span> <span></span>
                            <span>M</span> <span>e</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="counter-area">
        <div class=container>
            <div class=row>
                <div class="col-md-6 mb-lg-0 mb-4 col-lg-3">
                    <div class="d-flex justify-content-center align-items-center counter-box">
                        <div class=counter-content>
                            <div class="d-flex justify-content-center align-items-center icon-bg mb-3 water-wave"><i
                                    class="im im-idea"></i></div>
                            <h2><span class=counter>370</span></h2>
                            <p class=text-capitalize>Innovation
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-lg-0 mb-4 col-lg-3">
                    <div class="d-flex justify-content-center align-items-center counter-box second-item">
                        <div class=counter-content>
                            <div class="d-flex justify-content-center align-items-center icon-bg mb-3 water-wave"><i
                                    class="im im-coffee"></i></div>
                            <h2><span class=counter>450</span></h2>
                            <p class=text-capitalize>new projects
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-lg-0 mb-4 col-lg-3 mb-md-0 mb-sm-4">
                    <div class="d-flex justify-content-center align-items-center counter-box third-item">
                        <div class=counter-content>
                            <div class="d-flex justify-content-center align-items-center icon-bg mb-3 water-wave"><i
                                    class="im im-smiley-o"></i></div>
                            <h2><span class=counter>50</span>k+</h2>
                            <p class=text-capitalize>Happy customers
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="d-flex justify-content-center align-items-center counter-box fourth-item">
                        <div class=counter-content>
                            <div class="d-flex justify-content-center align-items-center icon-bg mb-3 water-wave"><i
                                    class="im im-trophy"></i></div>
                            <h2><span class=counter>50</span>+</h2>
                            <p class=text-capitalize>awards win
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <section class="section-padding testimonial-area">
        <div class="section-title">
            <h3>Testimonial</h3><span></span>
        </div>
        <div class=container>
            <div class="carousel slide" id=carouselExampleIndicators data-interval=false data-ride=carousel>
                <div class="row align-items-center">
                    <div class="col-lg-6 d-lg-block d-none">
                        <ol class="carousel-indicators indicators tabs">
                            <li class=active data-slide-to=0 data-target=#carouselExampleIndicators>
                                <figure><img alt=Lana src="img/testimonial/c1.jpg" class=img-fluid></figure>
                            <li data-slide-to=1 data-target=#carouselExampleIndicators>
                                <figure><img alt=Lana src="img/testimonial/c2.jpg" class=img-fluid></figure>
                            <li data-slide-to=2 data-target=#carouselExampleIndicators>
                                <figure><img alt=Lana src="img/testimonial/c3.jpg" class=img-fluid></figure>
                        </ol>
                    </div>
                    <div class=col-lg-6>
                        <div class=quote-icon><i class="im im-quote-left"></i></div>
                        <div class=carousel-inner>
                            <div class="active carousel-item">
                                <div class=quote-wrapper>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero explicabo
                                        aut, ipsam ab sit dolore repellat modi nesciunt nihil tempora saepe quas
                                        soluta repudiandae? Et sapiente similique cumque autem ab!
                                    <h4 class=mt-4>Amr Doe</h4><span>Web Developer</span>
                                </div>
                            </div>
                            <div class=carousel-item>
                                <div class=quote-wrapper>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero explicabo
                                        aut, ipsam ab sit dolore repellat modi nesciunt nihil tempora saepe quas
                                        soluta repudiandae? Et sapiente similique cumque autem ab!
                                    <h4 class=mt-4>Lana Doe</h4><span>Web Designer</span>
                                </div>
                            </div>
                            <div class=carousel-item>
                                <div class=quote-wrapper>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero explicabo
                                        aut, ipsam ab sit dolore repellat modi nesciunt nihil tempora saepe quas
                                        soluta repudiandae? Et sapiente similique cumque autem ab!
                                    <h4 class=mt-4>Ahmed EzZat</h4><span>CEO</span>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators indicators carousel-indicators2">
                            <li class=active data-slide-to=0 data-target=#carouselExampleIndicators>
                            <li data-slide-to=1 data-target=#carouselExampleIndicators>
                            <li data-slide-to=2 data-target=#carouselExampleIndicators>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <section class="section-padding blog-area" id="blog">
        <div class=section-title>
            <h3>Dernières actualités</h3><span></span>
        </div>
        <div class=container>
            <div class=row>
                <div class="col-md-6 col-lg-4 mb-lg-0 mb-4">
                    <div class="text-center single-blog"><a href="#"><img alt=Lana src="img/blog/b1.jpg"
                                class=img-fluid></a>
                        <div class=blog-info data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s"><a
                                href="#" class=text-white><i class="im im-date-o"></i> 21st may, 2021</a> <a href="#"
                                class=text-white><i class="im im-user-male"></i> by Karim EzZat</a></div>
                        <h4><a href="#">Work For Success</a></h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, deserunt.
                    </div>
                </div>
             
            </div>
        </div>
    </section>
    <section class="section-padding contact-area" id="contact">
        <div class=section-title>
            <h3>Contact</h3><span></span>
        </div>
        <div class=container>
            <div class="justify-content-center row">
                <div class="col-lg-10 col-md-11 col-sm-12">
                    <div class=contact-form>
                        <div class="row align-items-center">
                            <div class="col-lg-3 d-lg-block d-none">
                                <div class=img-holder
                                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s"><img alt=Lana
                                        src="img/contact/lana.jpg"></div>
                            </div>
                            <div class=col-lg-9>
                                <h4>Say Hello <span>:)</span></h4>
                                <form action="#" id="contact-form novalidate">
                                    <div class="d-flex justify-content-between form-group name-email">
                                        <div class=input-field><input class=form-control id="name" name="name"
                                                placeholder="Name"></div>
                                        <div class=input-field><input class=form-control id="email" name="email"
                                                placeholder="Email" type="email"></div>
                                    </div>
                                    <div class=form-group><textarea class=form-control id="message" name="message"
                                            placeholder="Message"></textarea></div>
                                    <div class=input-group><button class=btn data-text="Send Message" id="form-submit"
                                            type=submit><span>S</span> <span>e</span> <span>n</span> <span>d</span>
                                            <span></span> <span>M</span> <span>e</span> <span>s</span>
                                            <span>s</span> <span>a</span> <span>g</span> <span>e</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class=footer-area>
        <div class=container>
            <div class=row>
                <p class="text-center col-lg-12">Copyright © Tous les droits sont réservés | Réalisé avec <i
                        class="fa fa-heart-o" aria-hidden=true></i> by <a
                        href="https://wa.me/c/22589814308" target="_blank">Vianney Aka</a>
            </div>
        </div>
    </footer>
</div>

  {% comment %} Content{% endcomment %}


  <body data-offset="300" data-spy="scroll" data-target=".nav-menu" id="body">
    <script src="{% static 'js/jquery-3.2.0.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.appear.js'%}"></script>
    <script src="{% static 'js/animated-headline.js'%}"></script>
    <script src="{% static 'js/scrollreveal.min.js'%}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'js/glassyWorms.js'%}"></script>
    <script src="{% static 'js/sketch.js'%}"></script>
    <script src="{% static 'js/jquery.form.js'%}"></script>
    <script src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
